.main-header{
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(159, 255, 186);
    color: var(--cor-texto-principal);
    box-shadow: 0px 0px 5px black;
}
.main-header .container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/*Configurações dos links e logos da parte esquerda do site*/
.main-header .container .containerEsquerda{
    display: flex;
    align-items: center;
    left: 30px;
}

.main-header nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 25px;
}

.main-header .container .containerEsquerda .Links ul li a{
    color: black;
    text-decoration: none;
    transition: color 0.8 ease;
    font-weight: bold;
}
.main-header .container .containerEsquerda .Links ul li a:hover{
    color: grey;
    text-decoration: none;
}

.logoYSV{
    width: auto;
    height: 100px;
    background: none;
    cursor: pointer;
}
/*Configurações da parte direita*/
.main-header .container .containerDireita{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    right: 50px;
    margin: 0px 20px 0px 0px;
}

.logoMess{
    height: auto;
    width: 45px;
    cursor: pointer;
}
.LogoNot{
    height: auto;
    width: 50px;
    cursor: pointer;
}
.LogoPerf{
    height: auto;
    width: 55px;
    cursor: pointer;
}
.fotoPerfilCabecalho{
    width: 60px;
    height: 60px;
    border: 1px solid grey;
    border-radius: 50%;
}
.fotoPerfilCabecalho:hover{
    border: 1px solid white;
    cursor: pointer;
}