.NotificacoesContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    z-index: 1000;
    top: 90px;
    right: 100px;
    width: 25rem;
    height: 37rem;
    background-color: var(--cor-fundo-secundario);
    color: var(--cor-texto-principal);
    border: 1px solid var(--cor-borda);
    border-radius: 5px;
    padding: 10px;

    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.notificacoesCabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3.5remx;
    border-radius: 5px;
    background-color: var(--cor-fundo-principal);
    padding: 10px;

}

.botaoFecharMenu{
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.IMGbotaoFecharMenu{
    width: 2.5rem;
    height: auto;
    margin: 0;
    padding: 0;
}

.listaNotificacoes{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.listaNotificacoes{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}
.listaNotificacoes .notificacao{
    padding: 10px;
    border-radius: 5px;
}
.listaNotificacoes .notificacao:hover{
    background-color: white;
}