.avaliacoesPerfil {
    background-color: var(--cor-fundo-secundario);
    padding: 20px;
    text-align: left;
    border-radius: 20px;
    margin-bottom: 40px;
    min-height: 650px;
}

.avaliacoesUsuarios {
    padding: 20px;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.avaliacao {
    background-color: grey;
    border-radius: 10px;
    border: 2px solid grey;
    box-shadow: 0 0 3px black;
    padding: 20px;
    width: 450px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.nomeUserAvaliacao {
    font-size: 1.8rem;
    font-weight: bold;
}

hr {
    margin: 5px 0px;
}

.comentario {
    box-shadow: inset 0 0 3px black;
    padding: 10px;
    border-radius: 10px;
    background-color: #dcdcdc;
    margin: 10px 0;
    overflow: hidden;
    max-height: 250px;
    transition: max-height .3s ease;

    min-height: 250px;
    max-height: 250px;
}

.comentario.colapsado {
    max-height: 250px;
}

.comentario.colapsado p {
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.comentario.expandido {
    max-height: 2000px;
    overflow: visible;
}

.comentario.expandido p {
    -webkit-line-clamp: unset;
    display: block;
}

.containervermaisAv{
    width: fit-content;
    display: block;
    margin: 0;
    padding: 0;
}
.vermaiavaliacao {
    color: #00d512;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    display: inline;
    padding: 0;
    margin: 0;
    line-height: normal;
}

.nota{
    margin-top: auto;
    padding-bottom: 20px;
}

.notaPLabel {
    font-size: 1.8rem;
    font-weight: bold;
}

.estrelas {
    font-size: 22px;
    color: gold;
}
