.perfilPessoal{
  display: flex;
  flex-direction: column;
}
.PerfilCard {
  position: relative;
  width: 100%;
  height: 250px;
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0px 0px 10px 0px;
}

.fotoPerfilMeuPerfil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 30px;
  cursor: pointer;
  object-fit: cover;
}
.containerFotoPerfil{
  position: relative;
}
.overlay-edicao{
  position: absolute;
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
  left:25px;
  bottom: 0;
  cursor: pointer;
  background-color: white;
  object-fit: cover;
}
.iconeCamera{
  width: 50px;
  height: auto;
}

.infoUserPerfil {
  text-align: left;
  margin-left: 20px;
}
.selectProf{
    font-size: 1.2em;
    padding: 5px;
    border-radius: 10px;
}
.containerInfoEd{
    display: flex;
    flex-direction: column;
}
.containerInfoEd input{
    margin: 10px 0px 0px 0px;
    padding: 10px;
    font-size: 2rem;
    border-radius: 10px;
    border: 1px solid grey;
}

.estrelasimg {
  height: 50px;
}
.iconeConfig {
  position: absolute;
  top: 30px;
  right: 50px;
  width: 40px;
  cursor: pointer;
  transition: transform 0.2s;
}

.menuConfigPerfil {
  position: absolute;
  top: 70px;
  right: 40px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 2px solid grey;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 300px;
  background-color: var(--cor-fundo-secundario);
}
.menuConfigPerfil button{
    text-align: left;
    padding-left: 20px;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
    border: 1px solid grey;
    cursor: pointer;

}

.infoUsuario {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.InfoAtendimentos{
    text-align: left;
    margin-left: 50px;
}

.InfoAtendimentos input{
    padding: 5px;
    font-size: 1.5rem;
    margin: 4px 0px 4px 0px;
    border-radius: 10px;
    border: 1px solid grey;
    width: 90%;
}
.InfoAtendimentos select{
    font-size: 1.4em;
    padding: 10px;
    border-radius: 10px;
}

.InfoAtendimentos span{
    font-size: 2rem;
}
.containerInfoProf{
  margin-left: 50px;
  text-align: left;
}
.containerInfoProf input{
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
}

.containerInfoProf span{
  font-size: 2rem;
}
.CardsEspecialidades {
  width: 600px;
  height: 150px;
  overflow-y: auto;
  padding: 5px;
  border-radius: 10px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 10px 0px 10px 0px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;

}

.especialidade {
  border: 1px solid black;
  background-color: rgb(208, 208, 208);
  font-weight: bolder;
  border-radius: 20px;
  padding: 5px 15px;
  margin: 5px;
  display: inline-block;
  position: relative;
  padding: 10px;
   gap: 20px;
}
.containerInputEspecialidade{
    display: flex;
    align-items: center;
}
.inputEspecialidades{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;

}
.botaoIconeLixo{
    height: 30px;
    display: flex;
    margin: 5px;
    background: none;
    border: none;
}
.adicionarEspecialidade{
    padding: 8px;
    font-size: 1.5rem;
    margin: 4px 0px 4px 0px;
    border-radius: 10px;
    border: 1px solid grey;
}
.envieMensagem {
  width: 600px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(92, 249, 136);
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  margin: 20px 0px 20px 50px;
  border: 1px solid grey;
  box-shadow: 0 0 5px black;
}

.Agenda{
    position: absolute;
    right: 30px;
    bottom: 10px;
    height: 100%;
    width: 500px;
    border: 2px solid black;
}