.perfilPessoal{
  display: flex;
  flex-direction: column;
}
.PerfilCard {
  position: relative;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
}

.fotoPerfilMeuPerfil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 30px;
  cursor: pointer;
  object-fit: cover;
}
.containerFotoPerfil{
  position: relative;
}
.overlay-edicao{
  position: absolute;
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
  left:25px;
  bottom: 0;
  cursor: pointer;
  background-color: white;
  object-fit: cover;
}
.iconeCamera{
  width: 50px;
  height: auto;
}

.infoUserPerfil {
  text-align: left;
  margin-left: 20px;
}
.selectProf{
    font-size: 1.2em;
    padding: 5px;
    border-radius: 10px;
}
.containerInfoEd{
    display: flex;
    flex-direction: column;
}
.containerInfoEd input{
    margin: 10px 0px 0px 0px;
    padding: 10px;
    font-size: 2rem;
    border-radius: 10px;
    border: 1px solid grey;
}

.estrelasimg {
  height: 50px;
}
.iconeConfig {
  position: absolute;
  top: 30px;
  right: 50px;
  width: 50px;
  cursor: pointer;
  transition: transform 0.2s;
}

.menuConfigPerfil {
  position: absolute;
  top: 70px;
  right: 40px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 2px solid grey;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 300px;
  background-color: var(--cor-fundo-secundario);
}
.menuConfigPerfil button{
    text-align: left;
    padding-left: 20px;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
    border: 1px solid grey;
    cursor: pointer;

}
/*Informações do atendimento do Usuário e agenda*/
.infoUsuario {
  position: relative;
  display: flex;
  justify-content: space-between;
  }
.Agenda{
  position: absolute;
  right: 35px;
  width: 750px;
  height: 100%;
  top: 10px;
}
.botao-editar-horarios-disponiveis{
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(92, 249, 136);
  font-weight: bold;
  border: none;
  cursor: pointer;
  border: 1px solid grey;
  box-shadow: 0 0 5px black;
  margin-top: 10px;
}
.InfoAtendimentos{
    text-align: left;
    margin-left: 50px;
}

.InfoAtendimentos input{
    padding: 5px;
    font-size: 1.5rem;
    margin: 4px 0px 4px 0px;
    border-radius: 10px;
    border: 1px solid grey;
    width: 90%;
}
.InfoAtendimentos select{
    font-size: 1.4em;
    padding: 10px;
    border-radius: 10px;
}

.InfoAtendimentos span{
    font-size: 2rem;
}
.containerInfoProf{
  margin-left: 50px;
  text-align: left;
}
.containerInfoProf input{
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
}

.containerInfoProf span{
  font-size: 2rem;
}
.containerEspec{
  width: 600px;
  height: 320px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
  gap: 15px;
  border: 1px solid grey;
  margin-bottom: 10px;

}
.CardsEspecialidades {
  overflow-y: auto;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

}

.especialidade {
  background-color: rgb(208, 208, 208);
  border: 1px solid black;
  font-weight: bolder;
  border-radius: 20px;
  padding: 10px 15px;
  display: inline-flex;
  width: auto;
  height: auto;
  white-space: nowrap;
  gap: 15px; 
}
.containerInputEspecialidade {
  display: inline-flex; /* OK */
  align-items: center;
  background: rgb(230,230,230);
  border-radius: 10px;
  padding: 8px 12px;
  border: 1px solid grey;
}
.inputEspecialidades{
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
}

.botaoIconeLixo{
    height: 30px;
    display: flex;
    margin: 5px;
    background: none;
    border: none;
}
.adicionarEspecialidade{
    padding: 8px;
    font-size: 1.5rem;
    margin: 4px 0px 4px 0px;
    border-radius: 10px;
    background-color: rgb(92, 249, 136);
    font-weight: bold;
    border: 1px solid grey;
    box-shadow: 0 0 5px black;
    padding: 10px;
}
.envieMensagem {
  width: 600px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(92, 249, 136);
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  margin: 20px 0px 20px 50px;
  border: 1px solid grey;
  box-shadow: 0 0 5px black;
}

.horarios{
  height: 50px;
  border-radius: 10px;
  background-color: rgb(92, 249, 136);
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  margin: 20px 0px 20px 50px;
  border: 1px solid grey;
  box-shadow: 0 0 5px black;
}

.agendaContainer{
  margin-right: 50px;

}
.btn-editar-agenda{
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(122, 241, 156);
  font-weight: bold;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  border: 1px solid grey;
  box-shadow: 0 0 5px black;
}
.secao-agenda-edicao{
  display: flex;
  flex-direction: column;
}
.btn-editar-agenda:hover{
  box-shadow: 0 0 5px rgb(159, 159, 159);
  background-color: rgb(0, 245, 69);
}