.TelaAutenticacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}
.telaCadastroLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    width: 40%;
    height: 480px;
    border: 1px solid rgb(153, 153, 153);
    padding: 20px;
    border-radius: 15px;
    background-color: var(--cor-fundo-secundario);
    padding: 20px;

}
.telaCadastroLogin input{
    padding: 8px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 5px 0px 5px 0px;
}
.inputProfissao {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 10px;
  border: 1.8px solid #ccc;
  border-radius: 10px;
  background-color: #fafafa;
  font-size: 15px;
  color: #333;
  outline: none;
  appearance: none;
  transition: all 0.2s ease;
  cursor: pointer;
}


/* quando clica ou passa o mouse */
.inputProfissao:hover {
  background-color: #fdfcff;
}


/* estiliza o texto da opção padrão */
.inputProfissao option[value=""] {
  color: #999;
  border-radius: 10px;
}
.telaCadastroLogin button{
    padding: 10px;
    background-color: rgb(3, 229, 67);
    border-radius: 10px;
    margin-top: 10px;
}
.logoYSV{
    height: 120px;
}
.texto{
    margin: 20px;
}

