.paraProfissionais {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.Paraproftela1 {
    position: relative;
    text-align: left;
    width: 100%;
    height: 600px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 50px;

    background: linear-gradient(135deg, #f1f1f1, #ffffff);
}

.containerparaprof1 {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 55%;
}

.containerparaprof1 hr {
    width: 45%;
    border: none;
    height: 4px;
    background: #00d43ccb;
    border-radius: 10px;
}

.Paraproftela1 img {
    position: absolute;
    bottom: 10px;
    right: 50px;
    width: 40%;
    max-height: 90%;
    object-fit: contain;
    transform: translateY(10px);
}

.containerparaprof1 button {
    width: fit-content;
    padding: 20px;
    font-weight: bold;
    background: #00e047c0;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.containerparaprof1 button:hover {
    transform: scale(1.07);
}
.containerParaProfissionais{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.tituloCrieperfil {
    width: 100%;
}

.tituloCrieperfil h1 {
    background: #9fffbac4;
    width: 100%;
    height: 100px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
    padding: 0 20px;
}

.paraProfissionais ul {
    list-style: none;
    padding: 0;
    width: 85%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    margin: 0 auto;
}

.paraProfissionais ul li {
    background: #ffffff;
    padding: 22px 25px;
    border-radius: 12px;
    box-shadow: 0 0 5px black;
    font-size: 20px;
    line-height: 1.6;
}

.tituloysv {
    background: #9fffbac4;
    width: 100%;
    height: 100px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
    padding: 0 20px;
}

.containerTextoYSV {
    
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.textoYSV {
    box-shadow: 0px 0px 10px black;
    border-radius: 15px;
    max-width: 1000px;
    text-align: center;
    padding: 40px 30px;
    margin: 0 auto;
    margin-bottom: 50px;
}