.perfilSalvos{
    text-align: left;
}
.titulopg{
    width: 100%;
    padding: 15px;
    background-color: rgb(204, 204, 204);
    border: 2px solid grey;
    box-shadow: 0 0 5px grey;
}

.cardPerfilSalvo{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 2px solid grey;
    box-shadow: 0 0 10px grey;
    border-radius: 20px;
    gap: 15px;
}
.CabecalhoCard{
    display: flex;
    position: relative;
}
.removerPerfil{
    position: absolute;
    right: 0px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(255, 153, 153);
}

.infoPerfil p{
    color: #02c325;
    font-weight: bold;
}
.conteudoCardPerfil{
    position: relative;
    display: flex;
    align-items: center;
}
.conteudoCardPerfil img{
    width: 250px;
    height: auto;
    border: 1px solid grey;
    margin-right: 30px;
    border-radius: 20px;
}

.BotoesPerfilSalvo{
    position: absolute;
    right: 0px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;

}
.BotoesPerfilSalvoL a{
    display: block;
    width: 100%;
}
.BotoesPerfilSalvo button{
    border: 2px solid grey;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(132, 249, 165);
}
.BotoesPerfilSalvo button :hover{
    border: 2px solid white;
}