.PerfilPessoal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card{
    position: relative;
    background-color: rgb(131, 255, 166);
    width: 98%;
    height: 180px;
    margin: 30px;
    border-radius: 20px;
}
.fotoPerfil{
    position: absolute;
    top: 30px;
    left: 20px;
    background-color: rgb(242, 242, 242);
    border-radius: 50%;
    border: 2px solid black;
    height: 250px;
    width: auto;
    overflow: hidden;
    margin-bottom: 300px;
}
.foto{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/*Div de salvar o perfil do profissional*/
.salvaroueditar{
    position: absolute;
    right: auto;
}
.iconeSalvar{
    height: 10px;
    width: auto;
}