.PGProfissionais{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*Configurações dos filtros*/
.container_Filtros{
    background-color: var(--cor-fundo-principal);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 280px;
    padding: 10px;
}
.container_Filtros h2{
    margin-left: 20px;
    margin-top: 15px;
}
.container_2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}
.filtros{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.FiltrosInputs{
    display: flex;
    width: 100%;
    gap: 15px;
}
.inputContainer{
    position: relative;
    margin-bottom: 10px;
}
.inputContainer .setinha{
    position: absolute;
    right: 10px;
    top: 30%;
    width: 20px;
    pointer-events: none;
}
.Input_Especialidades{
    width: 500px;
}
.Input_Localidade{
    width: 300px;
}
.Input_Convênio{
    width: 200px;
}
.FiltrosInputs input{
    font-size: var(--);
    padding: 10px;
}
.labelValorConsulta{
    margin-right: 10px;
    margin-left: 0;
}
.inputValorConsulta{
    display: flex;
    gap: 20px;
    width: 50%;
}
.inputValorConsulta input{
    width: 100%;
}
.filtrosBotoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    margin-bottom: auto;
}
.filtrosBotoes button{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 40px 10px 12px;
  height: 50px;
}
.filtroBuscar{
  position: relative;
  background-color: var(--cor-botao);
  cursor: pointer;
  background-color: rgb(40, 254, 101);

}
.iconeBuscar{
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  pointer-events: none;
}
.maisFiltros{
  position: relative;
  cursor: pointer;
}
.iconeFiltro{
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  pointer-events: none;
}
/*Configurações dos filtros adicionados no sistema*/
.filtrosAdicionados{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding-left: 15px;
}
.filtro{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    width: auto;
    height: 20px;
    background-color: rgb(40, 254, 101);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
}
.filtro img{
    width: 30px;
    height: auto;
}

/*Configurações dos cards dos profissionais*/
.perfisProfissionais{
    padding: 15px;
    background-color: var(--cor-fundo-secundario);
}
.CardProfissionais{
    background-color: var(--cor-fundo-principal);
    padding: 30px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;

}
.container1CardProfissionais{
    padding: 5px;
}
.fotoPerfilProfissional{
    border: 1px solid grey;
    box-shadow: 0 0 5px grey;
    border-radius: 20px;
    margin: 5px;
    width: 350px;
    height: 350px;
}
.container1CardProfissionais{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.enderecoTexto{
    margin-left: 10px;
}
.infoProfissional{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 30px;
    padding: 15px;
    max-width: 550px;

}
.textoProfissional{
    padding: 10px;
    min-height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.descricao-texto {
    margin: 0;
    padding: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
    overflow: hidden;

    flex-grow: 1;
    margin-bottom: 10px;
}

.textoProfissional p.colapsado {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.verMaisDescricao {
    background: none;
    border: none;
    color: #02c325;
    cursor: pointer;
    font-weight: bold;
    padding: 0;
    margin-top: 5px;
    display: block;
    text-align: right;
    width: 100%;
}

.verMaisDescricao:hover {
    text-decoration: underline;
}

.videoResumoCard {
    margin: 10px 0px 10px 0px;
    text-align: left;
    width: 100%;
    height: 320px;
}
.videoResumoCard h3{
    margin-bottom: 5px;
}

.displayVideoProfissionalCard {
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.linkPerfilProf{
    text-decoration: none;
    color: #007d17;
    font-weight: bold;
}
/*Botão salvar perfil*/
.containerSalvarPerfil{
    position: absolute;
    right: 10px;
}
.salvarPerfil{
    position: relative;
    width: 150px;
    height: auto;
}
.botaoSalvarPerfil{
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0px 0px 2px black;
    height: 50px;
    text-align: left;
    width: 100%;
    padding-left: 20px;
    background-color: var(--cor-fundo-principal);
}
.botaoSalvarPerfil:hover{
    cursor: pointer;
}
.iconeSalvarPerfil {
  position: absolute;
  width: 30px;
  top: 10px;
  right: 15px;
}
.textoProfissional{
    overflow: auto;
}
.infoAdicionais{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
}

.infoAdicionais p{
    color: #02c325;
    font-weight: bold;
}

.FotoavaliacaoDeletar{
    width: 200px;
    height: auto;
}